<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  <title>MSSQL</title>
</head>
<body>
  <h1>Buat Peminjaman</h1>
  <button class="btn-home"><a href="/peminjaman">Home</a></button>
  <form action="/save-peminjaman" method="post">
    <label for="id_anggota">Anggota : </label>
    <select name="id_anggota" id="id_anggota">
      <% listAnggota.forEach((item)=>{ %>
      <option value="<%= item.id %>"><%= item.nama_lengkap %></option>
      <%}) %>
    </select>
    <label for="id_buku">Buku : </label>
    <select name="id_buku" id="id_buku">
      <% listBuku.forEach((item)=>{ %>
      <option value="<%= item.id %>"><%= item.judul_buku %></option>
      <%}) %>
    </select>
    <label for="tanggal_pinjam">Masukkan Tanggal Pinjam : </label>
    <input type="date" id="tanggal_pinjam" name="tanggal_pinjam" placeholder="Masukkan Tanggal Pinjam">
    <label for="tanggal_kembali">Masukkan Tanggal Kembali : </label>
    <input type="date" id="tanggal_kembali" name="tanggal_kembali" placeholder="Masukkan Tanggal Kembali">
    <button type="submit" class="btn-tambah">Tambah</button>
  </form>

  

  
</body>
</html>