<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  <title>MSSQL</title>
</head>
<body>
  <h1>Tambah Buku</h1>
  <button class="btn-home"><a href="/buku">Home</a></button>
  <form action="/save-buku" method="post">
    <label for="judul_buku">Judul Buku : </label>
    <input type="text" id="judul_buku" name="judul_buku" placeholder="Masukkan Judul Buku">
    <label for="pengarang">Penulis Buku : </label>
    <input type="text" id="pengarang" name="pengarang" placeholder="Masukkan Penulis Buku">
    <label for="jumlah_halaman">Jumlah Halaman : </label>
    <input type="text" id="jumlah_halaman" name="jumlah_halaman" placeholder="Masukkan Jumlah Halaman Buku">
    <label for="sinopsisi">Sinopsis Buku : </label>
    <textarea id="sinopsis" name="sinopsis" placeholder="Masukkan Sinopsis Buku"></textarea>
    <button type="submit" class="btn-tambah">Tambah</button>
  </form>

</body>
</html>